{% if is_paginated %}
	<nav aria-label="...">
		<ul class="pagination paginator-admin">
			<li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
				<a {% if page_obj.has_previous %} href="?page={{ page_obj.previous_page_number }}{% endif %}">
					<span class="page-link">
						قبلی
					</span>
				</a>
			</li>
			{% if page_obj.has_previous %}
				<li class="page-item"><a class="page-link"
				                         href="?page={{ page_obj.previous_page_number }}"> {{ page_obj.previous_page_number }} </a>
				</li>
			{% endif %}


			<li class="page-item active">
		      <span class="page-link">
		        {{ page_obj.number }}
		        <span class="sr-only">(current)</span>
		      </span>
			</li>

			{% if page_obj.has_next %}
				<li class="page-item">
					<a class="page-link" href="?page={{ page_obj.next_page_number }}">
						{{ page_obj.next_page_number }}
					</a></li>
				<li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
					<a class="page-link" href="?page={{ page_obj.next_page_number }}">بعدی</a>
				</li>
			{% endif %}


		</ul>
	</nav>
{% endif %}
