{% load static %}
<div class="banner-component-container">
	<div class="ad-banner">
		<div class="col-sm-8 ad-banner-content">
			<div class="ad-banner-title center-banner-element">تبلیغ: {{ banner.title }}</div>
			<div class="ad-banner-location center-banner-element">محل قرارگیری:{{ banner.position }}</div>

			<div class="ad-banner-actions center-banner-element">
				{% if banner.url %}

					<a href="{{ banner.url }}" class="btn btn-primary-custom">رفتن به لینک تبلیغ</a>

				{% endif %}
				<button class="btn btn-default center-banner-element">تنظیمات تبلیغ</button>
			</div>
		</div>
	</div>
</div>

