<div class="page-sidebar" id="sidebar">
	<div class="sidebar-header-wrapper">
		<input type="text" class="searchinput"/>
		<i class="searchicon fa fa-search"></i>
		<div class="searchhelper">به جستجوی صفحات، گزارشات، پیام ها و ایمیل خود بپردازید</div>
	</div>
	<ul class="nav sidebar-menu">
		<li>
			<a href="{% url "admin_index_page" %}">
				<i class="menu-icon glyphicon glyphicon-home"></i>
				<span class="menu-text"> داشبورد </span>
			</a>
		</li>
		<li>
			<a href="{% url 'admin_articles_page' %}">
				<i class="menu-icon glyphicon glyphicon-book"></i>
				<span class="menu-text"> مقالات </span>
			</a>
		</li>
		<li>
			<a href="{% url "contact_us_admin_page" %}">
				<i class="menu-icon fa fa-envelope-o"></i>
				<span class="menu-text">پیام ها</span>
			</a>
		</li>
		<li>
			<a href="#" class="menu-dropdown">
				<i class="menu-icon fa fa-gear"></i>
				<span class=" menu-text"> تنظیمات سایت </span>

				<i class="menu-expand"></i>
			</a>

			<ul class="submenu">
				<li>
					<a href="{% url "sliders" %}">
						<span class="menu-text">اسلایدر ها</span>
					</a>
				</li>

				<li>
					<a href="{% url 'site_setting_page' %}">
						<span class="menu-text">تنظیمات سایت</span>
					</a>
				</li>
				<li>
					<a href="message-compose.html">
						<span class="menu-text">تبلیغات سایت</span>
					</a>
				</li>
			</ul>
		</li>
	</ul>
</div>
