<div dir="rtl"
     class="margin-auto w-full slider-box-setting bg-white shadow-md rounded-2xl p-10 flex items-center gap-6 hover:shadow-xl transition">

	<label>
		<input class="checkbox-slider slider-icon colored-success" type="checkbox"
		       {% if slider.is_active %}checked{% endif %}>
		<span class="text"></span>
	</label>


	<!-- Image -->
	<img src="{{ slider.banner.url }}" alt="اسلایدر" class="w-40 h-24 rounded-md object-cover">

	<!-- Text + Buttons -->
	<div class="flex-1">
		<h3 class="font-semibold text-gray-800"> {{ slider.title }}</h3>
		<div class="mt-4 flex gap-3">
			<a href="{{ slider.url }}" target="_blank"
			   class="slider-box-blue-btn px-4 py-2 bg-blue-500 text-white text-base rounded">رفتن به لینک</a>
			<button onclick="toggleSlider()"
			        class="px-4 py-2 bg-gray-200 text-gray-800 text-base rounded hover:bg-gray-300 transition">

				مشاهده / تنظیمات

			</button>
		</div>
	</div>
</div>
