{% load static %}
<!--Basic Styles-->
<link href="{% static "admin_module/assets/css/bootstrap.min.css" %}" rel="stylesheet"/>
<link href="{% static "admin_module/assets/css/bootstrap-rtl.min.css" %}" rel="stylesheet"/>
<link href="{% static "admin_module/assets/css/font-awesome.min.css" %}" rel="stylesheet"/>
<link href="{% static "admin_module/assets/css/weather-icons.min.css" %}" rel="stylesheet"/>


<!--Beyond styles-->
<link href="{% static "admin_module/assets/css/beyond-rtl.min.css" %}" rel="stylesheet"/>
<link href="{% static "admin_module/assets/css/4095-rtl.min.css" %}" rel="stylesheet" type="text/css"/>
<link href="{% static "admin_module/assets/css/demo.min.css" %}" rel="stylesheet"/>
<link href="{% static "admin_module/assets/css/typicons.min.css" %}" rel="stylesheet"/>
<link href="{% static "admin_module/assets/css/animate.min.css" %}" rel="stylesheet"/>

<!--Fonts-->
<style>
    @font-face {
        font-family: 'WYekan';
        src: url('{% static "admin_module/assets/fonts/BYekan.woff" %}') format('woff');
        font-weight: normal;
        font-style: normal;
    }
</style>

<link id="skin-link" href="" rel="stylesheet" type="text/css"/>
