<ul class="nav sidebar-menu">
	<li>
		<a href="{% url 'admin_home_page' %}">
			<i class="menu-icon glyphicon glyphicon-home"></i>
			<span class="menu-text"> داشبورد </span>
		</a>
	</li>
	<li>
		<a href="{% url 'admin_setting_page' %}">
			<i class="menu-icon glyphicon glyphicon-console"></i>
			<span class="menu-text"> تنظیمات سایت </span>
		</a>
	</li>
	<li>
		<a href="#" class="menu-dropdown">
			<i class="menu-icon fa fa-envelope-o"></i>
			<span class="menu-text"> ایمیل </span>

			<i class="menu-expand"></i>
		</a>

		<ul class="submenu">
			<li>
				<a href="inbox.html">
					<span class="menu-text">اینباکس</span>
				</a>
			</li>

			<li>
				<a href="message-view.html">
					<span class="menu-text">مشاهده ایمیل</span>
				</a>
			</li>
			<li>
				<a href="message-compose.html">
					<span class="menu-text">ایجاد ایمیل</span>
				</a>
			</li>
		</ul>
	</li>
</ul>
