.success-box {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #3fb33f;
    color: white;
    padding: 15px 25px;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    z-index: 9999;
    width: 90%;
    max-width: 400px;
}


.error-box {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ff4d4d;
    color: white;
    padding: 15px 25px;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    z-index: 9999;
    width: 90%;
    max-width: 400px;
}


.empty-search-h {
    margin-bottom: 0;
    color: #696763;
    font-size: 16px;
    line-height: 25px;
    display: flex;
    justify-content: center;
}

.empty-search-btn {
    width: 20%;
    display: flex;
    justify-content: center;
}

.empty-search-btn:hover {
    a {
        color: white;
    }

    color: white;
}


.empty-search-btn-box {
    margin-top: 2.5%;
    display: flex;
    justify-content: center;
}

.empty-search-btn-box a {
    text-decoration: none;
    color: #696763;
    margin-right: 5px;
}

.user-profile-blog {
    border-radius: 50%;
    height: 120px !important;
    width: 120px !important;
    object-fit: cover;
}

.center-btn {
    display: flex !important;
    margin: 20px auto !important;
}

.comment-alert {
    height: 50px;
    border-radius: 5px;
    margin-bottom: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-without-line {
    text-decoration: none;
    color: black;
}

.margin-profile-fields {
    margin-bottom: 20px;
}

.edit-profile-title {
    margin-bottom: 1vh;
}

#footer-nav {
    float: right;
}