<div class="list-group">
  <a href="#" class="list-group-item">
    Cras justo odio
  </a>
  <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
  <a href="{% url "edit_profile_page" %}"
     class="list-group-item {% if request.resolver_match.url_name == "edit_profile_page" %}active{% endif %}">
        <i class="glyphicon glyphicon-info-sign"></i>
      ویرایش اطلاعات کاربری
  </a>
  <a href="{% url "edit_password_page" %}"
     class="list-group-item {% if request.resolver_match.url_name == "edit_password_page"%}active{% endif %}">
      تغییر کلمه عبور
  </a>
  <a href="{% url "logout_page" %}" class="list-group-item">
      <i class="glyphicon glyphicon-log-out"></i>
      خروج
  </a>
</div>