{% extends "base.html" %}
{% load render_partial %}
{% load global_filters %}
{% load static %}

{% block title %}
	صفحه اصلی | فروشگاه اینترنتی
{% endblock %}

{% block header_references %}
	<script src="{% static "js/order_handler_ajax.js" %}"></script>
{% endblock %}

{% block content %}

	{% if messages %}
		{% for msg in messages %}
			<div class="success-box" id="error-message">
				{{ msg }}
			</div>
		{% endfor %}
	{% endif %}

	{% render_partial "site_module.views.slider_partial" %}


	<section>
		<div class="container">
			<div class="row">
				<div class="recommended_items"><!--NewProduct_items-->
					<h2 class="title text-center">محصولات اخیر</h2>

					<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
						<div class="carousel-inner">
							{% for latest_product in latest_products %}
								<div class="item {% if forloop.first %}active{% endif %}">
									{% for product in latest_product %}
										<div class="col-sm-3">
											<div class="product-image-wrapper">
												<div class="single-products">
													<div class="productinfo text-center">
														<img src="{{ product.banner.url }}" alt="{{ product.name }}"/>
														<h2>{{ product.price | price_separator }}</h2>
														<p>{{ product.name }}</p>
														<a onclick="addToOrder({{ product.id }})" class=" btn btn-default
														   add-to-cart"><i
																class="fa fa-shopping-cart"></i>افزودن به سبـد خرید</a>
													</div>

												</div>
											</div>
										</div>
									{% endfor %}
								</div>

							{% endfor %}
						</div>
						<a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
							<i class="fa fa-angle-left"></i>
						</a>
						<a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
							<i class="fa fa-angle-right"></i>
						</a>
					</div>
				</div><!--/NewProduct_items-->

				<div class="col-sm-12 padding-right">
					<div class="features_items"><!--RetailSale_items-->
						<a><h2 class="title text-center">محصولات پر بازدید</h2></a>
						<div id="new-item-carousel" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner">
								{% for group in most_views_product %}
									<div class="item {% if forloop.first %} active {% endif %}">
										{% for product in group %}
											<div class="col-sm-3">
												<div class="product-image-wrapper">
													<div class="single-products">
														<div class="productinfo text-center">
															<img src="{{ product.banner.url }}"
															     alt="{{ product.name }}"/>
															<h2>{{ product.price | price_separator }}</h2>
															<p>{{ product.name }}</p>
															<a href="#" class="btn btn-default add-to-cart"><i
																	class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</a>
														</div>
														<div class="product-overlay">
															<div class="overlay-content">
																<h2>{{ product.price | price_separator }}</h2>
																<p>{{ product.name }}</p>
																<a onclick="addToOrder({{ product.id }})"
																   class="btn btn-default add-to-cart"><i
																		class="fa fa-shopping-cart"></i>افزودن به سبـد
																	خریـد</a>
															</div>
														</div>
													</div>
													<div class="choose">
														<ul class="nav nav-pills nav-justified">
															<li>

																{% if product in favorite_list %}
																	<a style="cursor:pointer;"
																	   onclick="RemoveFavoriteOnHomePage({{ product.id }})">
																		<i class="glyphicon glyphicon-remove-circle"></i>
																		حذف از علاقه مندی ها
																	</a>
																{% else %}
																	<a style="cursor:pointer"
																	   onclick="AddToFavoriteOnHomePage({{ product.id }})">
																		<i class="fa fa-plus-square"></i>
																		افزودن به علاقه مندی ها
																	</a>
																{% endif %}

															</li>
															<li>
																<a href="{% url "product_detail" pk=product.id %}">
																	جزئیات
																	<i class="fa fa-info"></i>
																</a>
															</li>
														</ul>
													</div>
												</div>
											</div>
										{% endfor %}
									</div>
								{% endfor %}
							</div>
							<a class="left recommended-item-control" href="#new-item-carousel" data-slide="prev">
								<i class="fa fa-angle-left"></i>
							</a>
							<a class="right recommended-item-control" href="#new-item-carousel" data-slide="next">
								<i class="fa fa-angle-right"></i>
							</a>
						</div>
					</div><!--RetailSale_items-->

					<div class="features_items"><!--WholeSale_items-->
						<a><h2 class="title text-center">پر فروش ترین محصولات</h2></a>
						<div id="major-item-carousel" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner">
								<div class="item active">
									<div class="col-sm-3">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="static/images/home/product.jpg" alt=""/>
													<h2>2.500.000 R</h2>
													<p>توضیحات کوتاه محصـول</p>
													<a href="#" class="btn btn-default add-to-cart"><i
															class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</a>
												</div>
												<div class="product-overlay">
													<div class="overlay-content">
														<h2>2.500.000 R</h2>
														<p>توضیحات کوتاه محصـول</p>
														<a href="#" class="btn btn-default add-to-cart"><i
																class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</a>
													</div>
												</div>
											</div>
											<div class="choose">
												<ul class="nav nav-pills nav-justified">
													<li>
														<a href="#">
															<i class="fa fa-plus-square"></i>لیست علاقه مندی ها
														</a>
													</li>
													<li><a href="#"><i class="fa fa-plus-square"></i>مقایسه</a></li>
												</ul>
											</div>
										</div>
									</div>
									<div class="col-sm-3">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="static/images/home/product.jpg" alt=""/>
													<h2>2.500.000 R</h2>
													<p>توضیحات کوتاه محصـول</p>
													<a href="#" class="btn btn-default add-to-cart"><i
															class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</a>
												</div>
												<div class="product-overlay">
													<div class="overlay-content">
														<h2>2.500.000 R</h2>
														<p>توضیحات کوتاه محصـول</p>
														<a href="#" class="btn btn-default add-to-cart"><i
																class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</a>
													</div>
												</div>
											</div>
											<div class="choose">
												<ul class="nav nav-pills nav-justified">
													<li>
														<a href="#">
															<i class="fa fa-plus-square"></i>لیست علاقه مندی ها
														</a>
													</li>
													<li><a href="#"><i class="fa fa-plus-square"></i>مقایسه</a></li>
												</ul>
											</div>
										</div>
									</div>
									<div class="col-sm-3">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="static/images/home/product.jpg" alt=""/>
													<h2>2.500.000 R</h2>
													<p>توضیحات کوتاه محصـول</p>
													<a href="#" class="btn btn-default add-to-cart"><i
															class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</a>
												</div>
												<div class="product-overlay">
													<div class="overlay-content">
														<h2>2.500.000 R</h2>
														<p>توضیحات کوتاه محصـول</p>
														<a href="#" class="btn btn-default add-to-cart"><i
																class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</a>
													</div>
												</div>
											</div>
											<div class="choose">
												<ul class="nav nav-pills nav-justified">
													<li>
														<a href="#">
															<i class="fa fa-plus-square"></i>لیست علاقه مندی ها
														</a>
													</li>
													<li><a href="#"><i class="fa fa-plus-square"></i>مقایسه</a></li>
												</ul>
											</div>
										</div>
									</div>
									<div class="col-sm-3">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="static/images/home/product.jpg" alt=""/>
													<h2>2.500.000 R</h2>
													<p>توضیحات کوتاه محصـول</p>
													<a href="#" class="btn btn-default add-to-cart"><i
															class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</a>
												</div>
												<div class="product-overlay">
													<div class="overlay-content">
														<h2>2.500.000 R</h2>
														<p>توضیحات کوتاه محصـول</p>
														<a href="#" class="btn btn-default add-to-cart"><i
																class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</a>
													</div>
												</div>
											</div>
											<div class="choose">
												<ul class="nav nav-pills nav-justified">
													<li>
														<a href="#">
															<i class="fa fa-plus-square"></i>لیست علاقه مندی ها
														</a>
													</li>
													<li><a href="#"><i class="fa fa-plus-square"></i>مقایسه</a></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								<div class="item">
									<div class="col-sm-3">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="static/images/home/product.jpg" alt=""/>
													<h2>2.500.000 R</h2>
													<p>توضیحات کوتاه محصـول</p>
													<a href="#" class="btn btn-default add-to-cart"><i
															class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</a>
												</div>
												<div class="product-overlay">
													<div class="overlay-content">
														<h2>2.500.000 R</h2>
														<p>توضیحات کوتاه محصـول</p>
														<a href="#" class="btn btn-default add-to-cart"><i
																class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</a>
													</div>
												</div>
											</div>
											<div class="choose">
												<ul class="nav nav-pills nav-justified">
													<li>
														<a href="#">
															<i class="fa fa-plus-square"></i>لیست علاقه مندی ها
														</a>
													</li>
													<li><a href="#"><i class="fa fa-plus-square"></i>مقایسه</a></li>
												</ul>
											</div>
										</div>
									</div>
									<div class="col-sm-3">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="static/images/home/product.jpg" alt=""/>
													<h2>2.500.000 R</h2>
													<p>توضیحات کوتاه محصـول</p>
													<a href="#" class="btn btn-default add-to-cart"><i
															class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</a>
												</div>
												<div class="product-overlay">
													<div class="overlay-content">
														<h2>2.500.000 R</h2>
														<p>توضیحات کوتاه محصـول</p>
														<a href="#" class="btn btn-default add-to-cart"><i
																class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</a>
													</div>
												</div>
											</div>
											<div class="choose">
												<ul class="nav nav-pills nav-justified">
													<li>
														<a href="#">
															<i class="fa fa-plus-square"></i>لیست علاقه مندی ها
														</a>
													</li>
													<li><a href="#"><i class="fa fa-plus-square"></i>مقایسه</a></li>
												</ul>
											</div>
										</div>
									</div>
									<div class="col-sm-3">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="static/images/home/product.jpg" alt=""/>
													<h2>2.500.000 R</h2>
													<p>توضیحات کوتاه محصـول</p>
													<a href="#" class="btn btn-default add-to-cart"><i
															class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</a>
												</div>
												<div class="product-overlay">
													<div class="overlay-content">
														<h2>2.500.000 R</h2>
														<p>توضیحات کوتاه محصـول</p>
														<a href="#" class="btn btn-default add-to-cart"><i
																class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</a>
													</div>
												</div>
											</div>
											<div class="choose">
												<ul class="nav nav-pills nav-justified">
													<li>
														<a href="#">
															<i class="fa fa-plus-square"></i>لیست علاقه مندی ها
														</a>
													</li>
													<li><a href="#"><i class="fa fa-plus-square"></i>مقایسه</a></li>
												</ul>
											</div>
										</div>
									</div>
									<div class="col-sm-3">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="static/images/home/product.jpg" alt=""/>
													<h2>2.500.000 R</h2>
													<p>توضیحات کوتاه محصـول</p>
													<a href="#" class="btn btn-default add-to-cart"><i
															class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</a>
												</div>
												<div class="product-overlay">
													<div class="overlay-content">
														<h2>2.500.000 R</h2>
														<p>توضیحات کوتاه محصـول</p>
														<a href="#" class="btn btn-default add-to-cart"><i
																class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</a>
													</div>
												</div>
											</div>
											<div class="choose">
												<ul class="nav nav-pills nav-justified">
													<li>
														<a href="#">
															<i class="fa fa-plus-square"></i>لیست علاقه مندی ها
														</a>
													</li>
													<li><a href="#"><i class="fa fa-plus-square"></i>مقایسه</a></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
							<a class="left recommended-item-control" href="#major-item-carousel" data-slide="prev">
								<i class="fa fa-angle-left"></i>
							</a>
							<a class="right recommended-item-control" href="#major-item-carousel" data-slide="next">
								<i class="fa fa-angle-right"></i>
							</a>
						</div>
					</div><!--WholeSale_items-->

					<div class="category-tab"><!--category-tab-->
						<div class="col-sm-12">
							<ul class="nav nav-tabs">
								{% for item in cats_result %}
									<li class="{% if forloop.first %} active {% endif %}">
										<a href="#{{ item.id }}" data-toggle="tab">{{ item.title }}</a>
									</li>
								{% endfor %}
							</ul>
						</div>
						<div class="tab-content">
							{% for item in cats_result %}
								<div class="tab-pane fade {% if forloop.first %} active {% endif %} in"
								     id="{{ item.id }}">
									{% for product in item.products %}
										<div class="col-sm-3">
											<div class="product-image-wrapper">
												<div class="single-products">
													<div title="{{ product.name }}" class="productinfo text-center">
														<img src="{{ product.banner.url }}" alt="{{ product.name }}"/>
														<h2>{{ product.price | price_separator }}</h2>
														<p>{{ product.name }}</p>
														<a onclick="addToOrder({{ product.id }})"
														   class="btn btn-default add-to-cart"><i
																class="fa fa-shopping-cart"></i>افزودن به سبـد خریـد</a>
													</div>

												</div>
											</div>
										</div>
									{% endfor %}
								</div>
							{% endfor %}
						</div>

					</div>
				</div>
			</div>
	</section>
{% endblock %}

{% block footer_references %}
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock %}