{% extends "base.html" %}
{% load static %}
{% block title %}
	ثبت تیکت
{% endblock %}
{% block content %}

	{% include "components/message.html" %}

	<div class="container">
		<div class="contact-form">
			<div class="row">
				<div class="col-sm-8">
					<form class="contact-form" name="contact-form" method="post" enctype="multipart/form-data">
						{% csrf_token %}
						{{ form }}

						<div class="drop-zone" id="drop-zone">
							<p>فایل را اینجا رها کنید یا کلیک کنید</p>
							<input type="file" id="file-input" class="hidden-file-input" multiple>
						</div>

						<div id="preview-container"></div>
						<link rel="stylesheet" href="{% static 'css/ticket_drag_files.css' %}">
						<button type="submit" class="btn btn-primary" style="float:left; margin-bottom: 30px;">ارسال
						</button>

					</form>
				</div>
				<div class="col-sm-4">
					{% include "user_profile_module/components/profile_dashboard_menu_component.html" %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block footer_references %}
	<script src="{% static 'js/ticket_drag_files.js' %}"></script>
{% endblock %}