{% extends "base.html" %}
{% block title %}
	پروفایل کاربر
{% endblock %}
{% block content %}

    {% include "components/message.html" %}

    <div class="container">
        <div class="contact-form">
            <div class="row">
                <form class="contact-form" name="contact-form" method="post" enctype="multipart/form-data" >
                    {% csrf_token %}
                <div class="col-sm-8">
                <h1 class="text-center edit-profile-title form-group">ویرایش کلمه عبور</h1>

                    <div class="col-sm-6 form-group pull-right" >
                        {{ form.password }}
                    </div>

                    <div class="col-sm-6 form-group pull-right">
                        {{ form.new_password }}

                        {% if form.new_password.errors %}
                                <div id="error-message" class="error-box">
                                    {{ form.new_password.errors }}
                                </div>
                        {% endif %}
                    </div>

                    <div class="col-sm-6 form-group pull-right">
                        {{ form.new_password_confirm }}
                    </div>

                    <div class="col-sm-2 pull-left">
                        <br><button type="submit" class="btn btn-success">تغییر رمز عبور</button>
                    </div>

                </div>


                </form>
                <div class="col-sm-4">
                    {% include "user_profile_module/components/profile_dashboard_menu_component.html" %}
                </div>
            </div>
        </div>
    </div>

    {% if form.non_field_errors %}
        <div id="error-message" class="error-box">
            رمز جدید شما با تکرارش مطابقت ندارد
        </div>

    {% endif %}
{% endblock %}