{% extends "base.html" %}
{% block title %}
	پروفایل کاربر
{% endblock %}
{% block content %}

    {% include "components/message.html" %}

    <div class="container">
        <div class="contact-form">
            <div class="row">
                <form class="contact-form" name="contact-form" method="post" enctype="multipart/form-data" >
                    {% csrf_token %}
                <div class="col-sm-8">
                <h1 class="text-center edit-profile-title">ویرایش اطلاعات کاربری</h1>

                    <div class="col-sm-6">
                        {{ form.password }}
                    </div>

                    <div class="col-sm-6">
                        {{ form.new_password }}
                    </div>

                    <div class="col-sm-6">
                        {{ form.new_password_confirm }}
                    </div>


                </div>
                </form>
                <div class="col-sm-4">
                    {% include "user_profile_module/components/profile_dashboard_menu_component.html" %}
                </div>
            </div>
        </div>
    </div>

    {% if form.non_field_errors %}

        <div id="error-message" class="error-box">
            {{ forms.non_field_errors }}
        </div>

    {% endif %}
{% endblock %}