{% extends "base.html" %}
{% load global_filters %}
{% load jformat %}
{% block title %}
	سفارش های شما
{% endblock %}
{% block content %}


	{% include "components/message.html" %}

	<div class="container">
		<div class="contact-form">
			<div class="row">
				<div class="col-sm-8">
					<h1 class="text-center edit-profile-title">
						سفارش های شما
					</h1>
					<br><br>

					{% if products %}
						<table class="table table-striped table-hover table-responsiveq">
							<thead>
							<tr>
								<td>شناسه سفارش</td>
								<td>تاریخ پرداخت</td>
								<td>مبلغ</td>
								<td>جزئیات</td>
							</tr>

							</thead>
							<tbody>
							{% for product in products %}
								<tr>
								<td>
									{{ product.id }}
								</td>
								<td>
									{{ product.paid_date|jformat:"%Y/%m/%d | %H:%M" }}
								</td>
								<td>
									{{ product.total_order_price | price_separator }}
								</td>
								<td>
									<a href="{% url 'order_detail_page' pk=product.id %}" class="btn btn-info">
										جزئیات سفارش
									</a>
								</td>
							{% endfor %}
							</tr>
							</tbody>
						</table>

						{% if is_paginated %}
							<nav aria-label="...">

								<ul class="pager">
									{% if page_obj.has_next %}
										<li><a href="?page={{ page_obj.next_page_number }}">بعدی</a></li>

									{% endif %}
									{% if page_obj.has_previous %}
										<li><a href="?page={{ page_obj.previous_page_number }}">قبلی</a></li>

									{% endif %}
								</ul>

							</nav>
						{% endif %}

					{% else %}
						<div class="alert alert-info">
							شما هنوز سفارشی را ثبت نکردید!
						</div>
					{% endif %}

				</div>
				<div class="col-sm-4">
					{% include "user_profile_module/components/profile_dashboard_menu_component.html" %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}