{% extends "base.html" %}
{% block title %}
	تماس با ما | فروشگاه اینترنتی
{% endblock %}
{% block content %}
	<div id="contact-page" class="container">
		<div class="bg">
			<div class="row">
				<div class="container">
					<div class="col-sm-12" style="overflow: hidden; margin-bottom: 40px">
						<h2 class="title text-center">تمـاس با مـا</h2>
						<div id="gmap" class="contact-map">
							<img src="/static/images/home/Map.jpg" alt="Map"/>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-8">
					<div class="contact-form">
						<h2 class="title text-center">با ما در ارتباط باشیـد</h2>
						<p class="info alert-info alert">
							اگر پیام شما نیازمند پیگیری است <a href="{% url "ticket_list_page" %}">تیکت</a>
							بزنید
						</p>
						<div class="status alert alert-success" style="display: none"></div>
						<form id="main-contact-form" class="contact-form row" name="contact-form" method="post">
							<div class="form-group col-md-6 {% if form.name.errors %}text-danger{% endif %}">
								{{ form.name.label }}
								{{ form.name }}
								{{ form.name.errors }}
							</div>
							<div class="form-group col-md-6 {% if form.email.errors %}text-danger{% endif %}">
								{{ form.email.label }}
								{{ form.email }}
								{{ form.email.errors }}
							</div>
							<div class="form-group col-md-12 {% if form.subject.errors %}text-danger{% endif %}">
								{{ form.subject.label }}
								{{ form.subject }}
								{{ form.subject.errors }}
							</div>
							<div class="form-group col-md-12 {% if form.msg.errors %}text-danger{% endif %}">
								{{ form.msg.label }}
								{{ form.msg }}
								{{ form.msg.errors }}
							</div>
							<div class="form-group col-md-12">
								<input type="submit" name="submit" class="btn btn-primary pull-right" value="ارسـال">
							</div>
							{% csrf_token %}
						</form>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="contact-info">
						<h2 class="title text-center">اطلاعات تماس</h2>
						<address>
							<p>{{ setting.site_name }}</p>
							<p>{{ setting.address }}</p>
							<p>تلفن تماس : {{ setting.phone }}</p>
							<p>فکس : {{ setting.fax }}</p>
							<p style="font-family: tahoma;">ایمیـل : {{ setting.email }}</p>
						</address>
						<div class="social-networks">
							<h2 class="title text-center">شبکـه های اجتـماعی</h2>
							<span class="socials-share share">
									<ul>
										<a href="#">
											<li>
												<label>بلـه</label>
												<img src="static/images/product-details/Bale.png"/>
											</li>
										</a>
										<a href="#">
											<li>
												<label>سـروش</label>
												<img src="static/images/product-details/Soroush.png"/>
											</li>
										</a>
										<a href="#">
											<li>
												<label>اینستاگرام</label>
												<img src="static/images/product-details/Instagram.png"/>
											</li>
										</a>
									</ul>
							</span>
						</div>
					</div>
					{% include "components/banner_component.html" with banners=banners %}
				</div>
			</div>
		</div>
	</div>

{% endblock %}
