<div class="col-sm-4">
	<div class="product-image-wrapper">
		<div class="single-products">
			<div class="productinfo text-center">
				<img src="{{ cat.banner.url }}" alt="{{ cat.title }}"/>
				<h2>{{ cat.title }} </h2>
				<p> دسته بندی </p>
			</div>
			<div class="product-overlay">
				<div class="overlay-content">
					<h2>{{ cat.title }}</h2>
					<p>دسته بندی</p>
				</div>
			</div>
		</div>
		<div class="choose">
			<ul class="nav nav-pills nav-justified">
				<li><a href=""><i class="fa fa-plus-square"></i>لیست علاقه مندی ها</a></li>
				<li><a href="#"><i class="fa fa-info"></i>جزئیات</a></li>
			</ul>
		</div>
	</div>

</div>
