{% extends "base.html" %}
{% load render_partial %}
{% load static %}
{% load global_filters %}
{% block title %}
	محصولات |‌فروشگاه اینترنتی
{% endblock %}

{% block header_references %}

	<script src="{% static "js/order_handler_ajax.js" %}"></script>

{% endblock %}

{% block content %}
	<section id="advertisement">
		<div class="container">
			<img src="images/shop/advertisement.jpg" alt=""/>
		</div>
	</section>

	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-9 padding-right">
					<div class="features_items"><!--features_items-->
						{% if brand %}
							<h2 class="title text-center">
								محصولات برند {{ brand.title }}
							</h2>
						{% elif category %}
							<h2 class="title text-center">
								محصولات دسته بندی {{ category.title }}
							</h2>
						{% else %}
							<h2 class="title text-center">همه محصولات</h2>
						{% endif %}



						{% for product in products %}
							{% include "components/product_component.html" %}
						{% endfor %}

						{% include "product_module/components/pagination_component.html" %}
					</div><!--features_items-->
				</div>

				<div class="col-sm-3">
					<div class="left-sidebar">
						{% render_partial "product_module.views.product_category_part_partial" %}


						{% render_partial "product_module.views.product_brand_partial" %}

						{% if is_price_filter_show %}
							<div class="price-range"><!--price-range-->
								<h2>فیلتـر قیمـت</h2>
								<div class="well">
									<input type="text"
									       class="span2"
									       value="{{ user_min_price }}, {{ user_max_price }}"
									       data-slider-min="{{ db_min_price }}"
									       data-slider-max="{{ db_max_price }}"
									       data-slider-step="5"
									       data-slider-value="[{{ user_min_price }}, {{ user_max_price }}]"
									       id="sl2"><br/>
									<b>{{ db_min_price|price_separator }}</b> <b
										class="pull-left">{{ db_max_price|price_separator }}</b>
									<br><br><br><br>
									<form action="#" method="get">
										<input type="hidden" name="min_price" id="min_price"
										       value="{{ user_min_price }}">
										<input type="hidden" name="max_price" id="max_price"
										       value="{{ user_max_price }}">
										<button type="submit" id="button" class="btn btn-maroon center-block">اعمال
											فیلتر
										</button>

									</form>

								</div>
							</div><!--/price-range-->
						{% endif %}

						{% include "components/banner_component.html" %}
					</div>
				</div>


			</div>
		</div>
	</section>

{% endblock %}

{% block footer_references %}
	<script src="{% static 'js/price_filter.js' %}"></script>
	<script src="/static/js/main.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock %}