{% extends 'admin_module/admin_base.html' %}
{% load static jformat %}

{% block title %}
	تماس با ما | ادمین
{% endblock %}

{% block header_ref %}
	<link rel="stylesheet" href="{% static 'admin_module/assets/css/custom_css.css' %}">
{% endblock %}

{% block content %}
	<!-- Loading Container -->
	{#	<div class="loading-container">#}
	{#		<div class="loader"></div>#}
	{#	</div>#}
	<!--  /Loading Container -->

	{% include 'admin_module/components/navbar.html' %}

	<!-- Main Container -->
	<div class="main-container container-fluid">
		<!-- Page Container -->
		<div class="page-container">
			{% include 'admin_module/components/sidebar_component.html' %}
			{% include 'admin_module/components/chat_bar.html' %}
			<div class="page-content">
				<div class="page-breadcrumbs">
					<ul class="breadcrumb">
						<li>
							<i class="fa fa-home"></i>
							<a href="{% url 'admin_home_page' %}">خانه</a>
						</li>
						<li>
							تماس با ما
						</li>

					</ul>
				</div>
				<div class="page-header position-relative">
					<div class="header-title">
						<h1>
							پیغام های تماس با ما
						</h1>
					</div>
					<div class="header-buttons">
						<a class="sidebar-toggler" href="#">
							<i class="fa fa-arrows-h"></i>
						</a>
						<a class="refresh" id="refresh-toggler" href="{% url 'admin_ads_setting_page' %}">
							<i class="glyphicon glyphicon-refresh"></i>
						</a>
						<a class="fullscreen" id="fullscreen-toggler" href="#">
							<i class="glyphicon glyphicon-fullscreen"></i>
						</a>
					</div>
				</div>
				<div class="page-body">
					<div class="row">
						<div class="col-xs-12 col-md-12">
							<div class="well with-header with-footer">
								<div class="header bordered-pink">
									پیغام ها
								</div>
								<table class="table table-striped table-bordered table-hover">
									<thead>
									<tr>
										<th>
											<span></span> عنوان
										</th>
										<th class="hidden-xs">
											<span>ایمیل</span>
										</th>
										<th>
											<span></span> تاریخ
										</th>
										<th>
											<span></span>وضعیت
										</th>
										<th>
											<span></span>
										</th>


									</tr>
									</thead>
									<tbody>
									{% for msg in messages %}

										<tr>
											<td>
												<a href="#">{{ msg.subject }}</a>
											</td>
											<td class="hidden-xs">
												{{ msg.email }}
											</td>
											<td class="hidden-xs">
												{{ msg.date|jformat:"%Y/%m/%d" }}
											</td>
											<td>
												{% if msg.is_read %}
													<span class="label label-palegreen">
                                                        خوانده شده
												</span>
												{% else %}
													<span class="label label-orange">
												خوانده نشده
												</span>
												{% endif %}
											</td>
											<td>
												<a href="{% url 'admin_contact_detail_page' id=msg.id %}"
												   class="btn btn-default btn-xs purple"><i class="fa fa-edit"></i>
													مشاهده
												</a>
											</td>
										</tr>

									{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>
{% endblock %}
