{% extends 'admin_module/admin_base.html' %}
{% load static jformat %}

{% block title %}
	مشاهده پیام | ادمین
{% endblock %}

{% block header_ref %}
	<link rel="stylesheet" href="{% static 'admin_module/assets/css/custom_css.css' %}">
{% endblock %}


<!-- Body -->
{% block content %}
	{#<!-- Loading Container -->#}
	{#<div class="loading-container">#}
	{#	<div class="loader"></div>#}
	{#</div>#}

	{% include 'admin_module/components/navbar.html' %}

	<!-- Main Container -->
	<div class="main-container container-fluid">
		<!-- Page Container -->
		<div class="page-container">
			{% include 'admin_module/components/sidebar_component.html' %}

			{% include 'admin_module/components/chat_bar.html' %}

			<div class="page-content">
				<div class="page-breadcrumbs">
					<ul class="breadcrumb">
						<li>
							<i class="fa fa-home"></i>
							<a href="{% url 'admin_home_page' %}">خانه</a>
						</li>
						<li>
							<a href="{% url 'admin_contact_us_list' %}">تماس با ما</a>

						</li>
						<li>
							ویرایش پیام
						</li>
					</ul>
				</div>
				<div class="page-header position-relative">
					<div class="header-title">
						<h1>
							ویرایش پیام
						</h1>
					</div>
					<div class="header-buttons">
						<a class="sidebar-toggler" href="#">
							<i class="fa fa-arrows-h"></i>
						</a>
						<a class="refresh" id="refresh-toggler" href="{% url 'admin_setting_main_page' %}">
							<i class="glyphicon glyphicon-refresh"></i>
						</a>
						<a class="fullscreen" id="fullscreen-toggler" href="#">
							<i class="glyphicon glyphicon-fullscreen"></i>
						</a>
					</div>
				</div>

				<div class="page-body">
					<div class="row">
						<div class="col-lg-6 col-sm-6 col-xs-12">
							<div class="widget">
								<div class="widget-header bordered-top bordered-palegreen">
									<span class="widget-caption">شناسه پیام : {{ contact_us.id }}</span>
								</div>
								<div class="widget-body">
									<div class="collapse in">
										<form role="form" method="post" action="#" enctype="multipart/form-data">
											{% csrf_token %}
											<div class="form-group {% if form.name.errors %}danger{% endif %}">
												<label for="xsinput">{{ form.name.label }}</label>
												{{ form.name }}
												{% if form.name.errors %}{{ form.name.errors }}{% endif %}
											</div>

											<div class="form-group {% if form.email.errors %}danger{% endif %}">
												<label for="xsinput">{{ form.email.label }}</label>
												{{ form.email }}
												{% if form.email.errors %}{{ form.email.errors }}{% endif %}
											</div>

											<div class="form-group {% if form.subject.errors %}danger{% endif %}">
												<label for="xsinput">{{ form.subject.label }}</label>
												{{ form.subject }}
												{% if form.subject.errors %}{{ form.subject.errors }}{% endif %}
											</div>

											<div class="form-group">
												<label for="xsinput">تاریخ ارسال پیام</label>
												<p class="form-control input-x">
													{{ contact_us.date|jformat:"%Y/%m/%d" }}

												</p>
											</div>

											<div class="form-group {% if form.msg.errors %}danger{% endif %}">
												<label for="xsinput">{{ form.msg.label }}</label>
												{{ form.msg }}
												{% if form.msg.errors %}{{ form.msg.errors }}{% endif %}
											</div>

											{% if contact_us.answer %}
												<div class="form-group">
													<label for="xsinput">پاسخ ادمین</label>
													<p class="form-control input-xs">
														{{ contact_us.answer }}
													</p>
												</div>

												<div class="form-group">
													<label for="xsinput">تاریخ پاسخ</label>
													<p class="form-control input-xs">
														{{ contact_us.date|jformat:"%Y/%m/%d" }}
													</p>
												</div>

												<div class="form-group">
													<label for="xsinput">ادمین پاسخ دهنده</label>
													<p class="form-control input-xs">
														{{ contact_us.answer_admin }}
													</p>
												</div>

											{% else %}
												<div class="form-group">
													<label for="xsinput">ارسال پاسخ</label>
													<textarea id="answer_box" class="form-control input-xs"></textarea>
													<br>
													<input type="hidden" value="{{ contact_us.id }}" id="contact_us_id">
													<a class="btn btn-maroon"
													   onclick="sendMsgAnswer({{ contact_us.id }})">ارسال
														پاسخ
													</a>
													<p class="alert alert-danger margin-top-10">
														لطفا پس از زدن کلید ارسال پاسخ چند ثانیه صبر کنید از فشردن مجدد
														کلید
														یا رفرش صفحه جلوگیری کنید
													</p>
												</div>
											{% endif %}
											<br><br>
											<button class="btn btn-sky" type="submit">
												ویرایش
											</button>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}


{% block footer_ref %}
	<script src="{% static 'admin_module/assets/js/contact-us.js' %}"></script>

	{#Sweet alert : #}
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

{% endblock %}
