{% extends 'admin_module/admin_base.html' %}
{% load static %}
{% block title %}
	اسلایدر ها | ادمین
{% endblock %}

{% block header_ref %}
	<link rel="stylesheet" href="{% static 'admin_module/assets/css/custom_css.css' %}">
	<link rel="stylesheet" href="{% static 'admin_module/assets/css/slider_cart_style.css' %}">
{% endblock %}

{% block content %}
	<!-- Loading Container -->
	{#	<div class="loading-container">#}
	{#		<div class="loader"></div>#}
	{#	</div>#}
	<!--  /Loading Container -->

	{% include 'admin_module/components/navbar.html' %}

	<!-- Main Container -->
	<div class="main-container container-fluid">
		<!-- Page Container -->
		<div class="page-container">
			{% include 'admin_module/components/sidebar_component.html' %}

			{% include 'admin_module/components/chat_bar.html' %}

			<div class="page-content">
				<div class="page-breadcrumbs">
					<ul class="breadcrumb">
						<li>
							<i class="fa fa-home"></i>
							<a href="{% url 'admin_home_page' %}">خانه</a>
						</li>
						<li>
							<a href="{% url 'admin_setting_page' %}">تنظیمات</a>

						</li>
						<li class="active">اسلایدرها</li>
					</ul>
				</div>
				<div class="page-header position-relative">
					<div class="header-title">
						<h1>
							اسلایدر ها
						</h1>
					</div>
					<div class="header-buttons">
						<a class="sidebar-toggler" href="#">
							<i class="fa fa-arrows-h"></i>
						</a>
						<a class="refresh" id="refresh-toggler" href="{% url 'admin_setting_main_page' %}">
							<i class="glyphicon glyphicon-refresh"></i>
						</a>
						<a class="fullscreen" id="fullscreen-toggler" href="#">
							<i class="glyphicon glyphicon-fullscreen"></i>
						</a>
					</div>
				</div>
				<div class="page-body">
					<div class="row">
						<div class="col-lg-6 col-sm-6 col-xs-12">
							{% for slider in sliders %}

								<div class="slider-card">
									<div class="card-media">
										<img src="{{ slider.banner.url }}"
										     alt="{{ slider.title }}">
									</div>
									<div class="card-body">
										<h3 class="card-title">{{ slider.title }}</h3>
										<p class="card-text">
											{{ slider.text }}
										</p>
									</div>
									<div class="card-actions">
										<a href="{% url 'admin_slider_edit_page' id=slider.id %}"
										   class="btn btn-details">جزئیات</a>
										<a href="#" class="btn btn-link-outline">
											مشاهده لینک
											<svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
											     stroke-linecap="round" stroke-linejoin="round">
												<path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
												<polyline points="15 3 21 3 21 9"></polyline>
												<line x1="10" y1="14" x2="21" y2="3"></line>
											</svg>
										</a>
									</div>
								</div>
								<br><br><br>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
