{% extends 'admin_module/admin_base.html' %}
{% load static %}

{% block title %}
	ویرایش تبلیغات | ادمین
{% endblock %}

{% block content %}

	{#<!-- Loading Container -->#}
	{#<div class="loading-container">#}
	{#	<div class="loader"></div>#}
	{#</div>#}
	<!--  /Loading Container -->
	{% include 'admin_module/components/navbar.html' %}

	<div class="main-container container-fluid">
		<!-- Page Container -->
		<div class="page-container">
			{% include 'admin_module/components/sidebar_component.html' %}

			{% include 'admin_module/components/chat_bar.html' %}

			<!-- Page Content -->
			<div class="page-content">
				<div class="page-breadcrumbs">
					<ul class="breadcrumb">
						<li>
							<i class="fa fa-home"></i>
							<a href="{% url 'admin_home_page' %}">خانه</a>
						</li>
						<li>
							<a href="{% url 'admin_setting_page' %}">تنظیمات</a>

						</li>
						<li>
							<a href="{% url 'admin_ads_setting_page' %}">لیست تبلیغات</a>
						</li>
						<li class="active">ویرایش تبلیغ</li>
					</ul>
				</div>
				<div class="page-header position-relative">
					<div class="header-title">
						<h1>
							ویرایش تبلیغ
						</h1>
					</div>
					<div class="header-buttons">
						<a class="sidebar-toggler" href="#">
							<i class="fa fa-arrows-h"></i>
						</a>
						<a class="refresh" id="refresh-toggler" href="{% url 'admin_setting_main_page' %}">
							<i class="glyphicon glyphicon-refresh"></i>
						</a>
						<a class="fullscreen" id="fullscreen-toggler" href="#">
							<i class="glyphicon glyphicon-fullscreen"></i>
						</a>
					</div>
				</div>
				<div class="page-body">
					<div class="row">
						<div class="col-lg-6 col-sm-6 col-xs-12">
							<div class="widget">
								<div class="widget-header bordered-top bordered-palegreen">
									<span class="widget-caption">شناسه: {{ banner.id }}</span>
								</div>
								<div class="widget-body">
									<div class="collapse in">
										<form role="form" method="post" enctype="multipart/form-data">
											{% csrf_token %}
											<div class="form-group {% if form.title.errors %}danger{% endif %}">
												<label for="xsinput">{{ form.title.label }}</label>
												{{ form.title }}
												{% if form.title.errors %}{{ form.title.errors }}{% endif %}
											</div>
											<div class="form-group {% if form.position.errors %}danger{% endif %}">
												<label for="xsinput">{{ form.position.label }}</label>
												{{ form.position }}
												{% if form.position.errors %}{{ form.position.errors }}{% endif %}
											</div>
											<div class="form-group {% if form.url.errors %}danger{% endif %}">
												<label for="xsinput">{{ form.url.label }}</label>
												{{ form.url }}
												{% if form.url.errors %}{{ form.url.errors }}{% endif %}
											</div>
											<div class="form-group {% if form.image.errors %}danger{% endif %}">
												<label for="xsinput">{{ form.image.label }}</label>
												<br>
												{% if banner.image %}
													<img src="{{ banner.image.url }}"
													     class=" pull-right right img-thumbnail profile-image center-block"
													     alt="site logo"
													     height="140" width="140">
													<br><br>
													<br><br>
												{% else %}
													<p class="danger">
														هنوز لوگویی آپلود نشده!
													</p>
												{% endif %}<br><br><br><br><br><br>
												{{ form.image }}
												{% if form.image.errors %}{{ form.image.errors }}{% endif %}
											</div>
											<label class="checkbox-wrapper">
												{{ form.is_active }}
												<span class="checkmark"></span>
												فعال باشد
												{% if form.is_active.errors %}{{ form.is_active.errors }}{% endif %}
											</label>
											<br><br>
											<button class="btn btn-sky" type="submit">
												تایید
											</button>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
