{% extends 'admin_module/admin_base.html' %}

{% block title %}
	تنظیمات | ادمین
{% endblock %}

{% block header_ref %}
	{% load static %}
	<link rel="stylesheet" href="{% static 'admin_module/assets/css/custom_css.css' %}">
	<link rel="stylesheet" href="{% static 'admin_module/assets/css/settings_main_page.css' %}">
{% endblock %}

{% block content %}
	<!-- Loading Container -->
	{#	<div class="loading-container">#}
	{#		<div class="loader"></div>#}
	{#	</div>#}
	<!--  /Loading Container -->

	{% include 'admin_module/components/navbar.html' %}

	<!-- Main Container -->
	<div class="main-container container-fluid">
		<!-- Page Container -->
		<div class="page-container">
			{% include 'admin_module/components/sidebar_component.html' %}
			{% include 'admin_module/components/chat_bar.html' %}
			<div class="page-content">
				<div class="page-breadcrumbs">
					<ul class="breadcrumb">
						<li>
							<i class="fa fa-home"></i>
							<a href="#">خانه</a>
						</li>
						<li class="active">تنظیمات</li>
					</ul>
				</div>
				<div class="page-header position-relative">
					<div class="header-title">
						<h1>
							تنظیمات
						</h1>
					</div>
					<div class="header-buttons">
						<a class="sidebar-toggler" href="#">
							<i class="fa fa-arrows-h"></i>
						</a>
						<a class="refresh" id="refresh-toggler" href="default.htm">
							<i class="glyphicon glyphicon-refresh"></i>
						</a>
						<a class="fullscreen" id="fullscreen-toggler" href="#">
							<i class="glyphicon glyphicon-fullscreen"></i>
						</a>
					</div>
				</div>
				<div class="page-body">
					<div class="admin-menu">

						<a href="{% url 'admin_setting_main_page' %}" class="menu-item">
							<div class="menu-icon">
								⚙
							</div>

							<div class="menu-content">
								<h3>تنظیمات سایت</h3>
								<p>مدیریت تنظیمات اصلی سایت</p>
							</div>

							<span class="menu-arrow">←</span>
						</a>


						<a href="{% url 'admin_ads_setting_page' %}" class="menu-item">
							<div class="menu-icon">
								📢
							</div>

							<div class="menu-content">
								<h3>تبلیغات سایت</h3>
								<p>مدیریت و تنظیم تبلیغات</p>
							</div>

							<span class="menu-arrow">←</span>
						</a>


						<a href="{% url 'admin_sliders_list_page' %}" class=" menu-item">
							<div class="menu-icon">
								🖼
							</div>

							<div class="menu-content">
								<h3>اسلایدر ها</h3>
								<p>مدیریت اسلایدرهای صفحه اصلی</p>
							</div>

							<span class="menu-arrow">←</span>
						</a>

					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
